@import url("./normalize.css");
@import url("./index/variable.css");
@import url("./index/header.css");
@import url("./index/main.css");
@import url("./index/footer.css");

* {
	margin: 0;
	padding: 0;
}

html {
  font-family: "DM Sans", "Courier New", sans-serif;
  font-weight: 400;
  color:var(--color5_white);
  scroll-behavior: smooth;
}
header, main, footer {
  width: 100vw;
}
.container {
  max-width: 1280px;
  margin: 0 auto;
  box-sizing: border-box;
  letter-spacing: -0.04em;
}
